<%= form_with model: quote, html: { class: ""} do |form| %>
  <% if quote.errors.any? %>
  <div class="error">
    <%= quote.errors.full_messages.to_sentence.capitalize %>
  </div>
  <% end %>

  <%= form.label :name, "Name" %>
  <%= form.text_field :name %>

  <br />

  <%= form.label :verified, "Verified" %>
  <%= form.check_box :verified %>

  <br />

  <%= form.submit submit_button_label(quote) %>
<% end %>
